@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

body {
  height: 100vh;
  font-family: "Inter", sans-serif;
}

main {
  height: 100%;
  padding-inline: 20px;
}

button {
  background: initial;
  border: initial;
  font: inherit;
  cursor: pointer;
  outline: none;
}

a {
  text-decoration: none;
  color: initial;
}

h1 {
  font-size: 30px;
  font-weight: 700;
}

ul {
  list-style: none;
}

#root {
  height: 100%;
}

.fs-23px {
  font-size: 23px;
}

.fw-400 {
  font-weight: 400;
}

.fw-700 {
  font-weight: 700;
}

.fs-italic {
  font-style: italic;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 40px;
}

.header__top {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.header__separator {
  margin-inline: 15px;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 300;
}

.logo__icon {
  margin-right: 10px;
}

.bookmark {
}

.bookmark__icon {
}

.search-form {
}

.search-form__content {
  position: relative;
}
.search-form__input {
  width: 500px;
  font-size: 18px;
  padding: 15px 15px 15px 50px;
  border-radius: 6px;
  border: none;
  background-color: hsl(0, 0%, 92%);
}
.search-form__input:hover,
.search-form__input:focus {
  background-color: hsl(0, 0%, 0%);
  outline: none;
  color: hsl(0, 0%, 90%);
}
.search-form__input:hover::placeholder,
.search-form__input:focus::placeholder {
  color: hsl(0, 0%, 75%);
}
.search-form__input:hover + .search-form__button,
.search-form__input:focus + .search-form__button {
  color: #fff;
}
.search-form__input--active {
  color: hsl(0, 0%, 90%);
  background-color: hsl(0, 0%, 0%);
}
.search-form__input--active + .search-form__button,
.search-form__input--active + .search-form__button {
  color: #fff;
}
.search-form__button {
  position: absolute;
  left: 0;
  width: 50px;
  height: 100%;
  border-radius: 6px 0 0 6px;
}
.search-form__icon {
  width: 20px;
  height: 20px;
  opacity: 0.6;
  margin-top: 4px;
}

.jobs {
  /* padding-inline: 20px; */
}
.jobs__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.jobs__title {
}
.jobs__body {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-top: 20px;
}
.jobs__button {
  border-radius: 50%;
  /* background-color: hsl(0, 0%, 92%); */
}
.jobs__button--previous {
}
.jobs__button--next {
}
.jobs__icon {
  width: 50px;
  height: 50px;
  color: hsl(0, 0%, 29%);
}
.jobs__list {
  display: flex;
  gap: 15px;
  margin-inline: auto;
}
.jobs__item {
}

.jobs-sort {
}
.jobs-sort__icon {
  width: 24px;
  height: 24px;
  color: hsl(0, 0%, 45%);
  margin-bottom: -6px;
}
.jobs-sort__button {
  font-size: 13px;
  font-weight: 500;
  color: hsl(0, 0%, 19%);
  padding: 7px 14px;
  background-color: hsl(0, 0%, 92%);
  border-radius: 3px;
  text-transform: uppercase;
}
.jobs-sort__button:hover,
.jobs-sort__button:focus {
  color: hsl(0, 0%, 92%);
  background-color: hsl(0, 0%, 20%);
}
.jobs-sort__button--relevant {
}
.jobs-sort__button--recent {
  margin-left: 10px;
}

.job-item {
  display: flex;
  gap: 10px;
  background-color: hsl(0, 0%, 92%);
  border-radius: 6px;
  padding: 12px 18px;
  cursor: pointer;
  align-self: center;
}
.job-item:hover,
.job-item:focus {
  box-shadow: 0 -3px 1px -1px hsl(0, 0%, 80%);
}
.job-item:hover > .job-item__badge-letter,
.job-item:focus > .job-item__badge-letter {
  /* background-color: hsl(0, 0%, 60%); */
}
.job-item--active {
  box-shadow: 0 -3px 1px -1px hsl(0, 0%, 80%);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  padding: 17px 18px;
  /* background-color: hsl(0, 0%, 20%);
  color: #fff;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 17px 18px; */
}
.job-item--active > .job-item__badge-letter {
  /* background-color: hsl(0, 0%, 60%); */
}
.job-item__badge-letter {
  font-weight: 600;
  background-color: hsl(0, 0%, 98%);
  border-radius: 6px;
  padding-inline: 12px;
  line-height: 3.5;
  /*color: hsl(216 63% 50% / 1);*/
}
.job-item__info {
}
.job-item__title {
  font-weight: 600;
}
.job-item__company {
}
.job-item__col {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.job-item__bookmark {
}
.job-item__icon {
  width: 20px;
  height: 20px;
  color: hsl(0, 0%, 60%);
}
.job-item__age {
  font-size: 14px;
}
.job-details {
  height: 100%;
  border-radius: 10px;
  background-color: hsl(0, 0%, 92%);
}
