@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

body {
  height: 100vh;
  font-family: "Inter", sans-serif;
}

main {
  padding: 0 20px 20px 20px;
}

button {
  background: initial;
  border: initial;
  font: inherit;
  cursor: pointer;
  outline: none;
}

a {
  text-decoration: none;
  color: initial;
}

h1 {
  font-size: 30px;
  font-weight: 700;
}

h2 {
  font-size: 22px;
  font-weight: 600;
}

h3 {
  font-size: 20px;
  font-weight: 600;
}

ul {
  list-style: none;
}

img {
  display: block; /* Avoid the space under the image caused by line height */
  width: 100%;
}

#root {
  height: 100%;
  max-width: 1200px;
  margin-inline: auto;
}

.fs-23px {
  font-size: 23px;
}

.fw-400 {
  font-weight: 400;
}

.fw-700 {
  font-weight: 700;
}

.fs-italic {
  font-style: italic;
}

.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.justify-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.align-end {
  align-items: flex-end;
}
.self-center {
  align-self: center;
}
.grow-0 {
  flex-grow: 0;
}
.grow-1 {
  flex-grow: 1;
}
.basis-0 {
  flex-basis: 0;
}
.basis-200px {
  flex-basis: 200px;
}
.gap-15px {
  gap: 15px;
}

.mt-12px {
  margin-top: 12px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 40px;
}

.header__top {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.header__separator {
  margin-inline: 15px;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 300;
}

.logo__icon {
  margin-right: 10px;
}

.bookmark {
  position: relative;
}
.bookmark__button {
}
.bookmark__button:hover,
.bookmark__button:focus {
  text-decoration: underline;
}
.bookmark__icon {
}
.bookmark__list {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: hsl(0deg 0% 41% / 36%);
  padding: 12px;
  border-radius: 7px;
  backdrop-filter: blur(3px);
}
.bookmark__item {
  margin-block: 12px;
}
.bookmark__link {
  min-width: 350px;
}

.search-form {
}

.search-form__content {
  position: relative;
}
.search-form__input {
  width: 500px;
  font-size: 18px;
  padding: 15px 15px 15px 50px;
  border-radius: 6px;
  border: none;
  background-color: hsl(0, 0%, 92%);
}
.search-form__input:hover,
.search-form__input:focus {
  background-color: hsl(0, 0%, 0%);
  outline: none;
  color: hsl(0, 0%, 90%);
}
.search-form__input:hover::placeholder,
.search-form__input:focus::placeholder {
  color: hsl(0, 0%, 75%);
}
.search-form__input:hover + .search-form__button,
.search-form__input:focus + .search-form__button {
  color: #fff;
}
.search-form__input--active {
  color: hsl(0, 0%, 90%);
  background-color: hsl(0, 0%, 0%);
}
.search-form__input--active + .search-form__button,
.search-form__input--active + .search-form__button {
  color: #fff;
}
.search-form__button {
  position: absolute;
  left: 0;
  width: 50px;
  height: 100%;
  border-radius: 6px 0 0 6px;
}
.search-form__icon {
  width: 20px;
  height: 20px;
  opacity: 0.6;
  margin-top: 4px;
}

.jobs {
  /* padding-inline: 20px; */
}
.jobs__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.jobs__title {
}
.jobs__body {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-top: 20px;
}
.jobs__button {
  border-radius: 50%;
  /* background-color: hsl(0, 0%, 92%); */
}
.jobs__button--previous {
}
.jobs__button--next {
}
.jobs__icon {
  width: 50px;
  height: 50px;
  color: hsl(0, 0%, 29%);
}
.jobs__list {
  display: flex;
  gap: 15px;
  margin-inline: auto;
}
.jobs__item {
}

.jobs-sort {
}
.jobs-sort__icon {
  width: 24px;
  height: 24px;
  color: hsl(0, 0%, 45%);
  margin-bottom: -6px;
}
.jobs-sort__button {
  font-size: 13px;
  font-weight: 500;
  color: hsl(0, 0%, 19%);
  padding: 7px 14px;
  background-color: hsl(0, 0%, 92%);
  border-radius: 3px;
  text-transform: uppercase;
}
.jobs-sort__button:hover,
.jobs-sort__button:focus {
  color: hsl(0, 0%, 92%);
  background-color: hsl(0, 0%, 20%);
}
.jobs-sort__button--relevant {
}
.jobs-sort__button--recent {
  margin-left: 10px;
}

.job-item {
  display: flex;
  gap: 10px;
  background-color: hsl(0, 0%, 92%);
  border-radius: 6px;
  padding: 12px 18px;
  cursor: pointer;
}
.job-item:hover,
.job-item:focus {
  box-shadow: 0 -3px 1px -1px hsl(0, 0%, 80%);
}
.job-item:hover .job-item__title,
.job-item:focus .job-item__title {
  text-decoration: underline;
}
.job-item--active {
  box-shadow: 0 -3px 1px -1px hsl(0, 0%, 80%);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  padding: 17px 18px;
  /* background-color: hsl(0, 0%, 20%);
  color: #fff;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 17px 18px; */
}
.job-item--active > .job-item__badge-letter {
  /* background-color: hsl(0, 0%, 60%); */
}
.job-item__badge-letter {
  font-weight: 600;
  background-color: hsl(0, 0%, 98%);
  border-radius: 6px;
  padding-inline: 12px;
  line-height: 3.5;
  /*color: hsl(216 63% 50% / 1);*/
}
.job-item__info {
}
.job-item__title {
  font-weight: 600;
}
.job-item__company {
}
.job-item__col {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.job-item__bookmark {
}
.job-item__icon {
  width: 20px;
  height: 20px;
  color: hsl(0, 0%, 60%);
}
.job-item__age {
  font-size: 14px;
}
.job-details {
  border-radius: 20px;
  background-color: hsl(0, 0%, 92%);
  padding: 20px;
}
.job-details__header {
  position: relative;
  border-radius: 20px;
}
.job-details__header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, hsl(0 0% 0% / 0.7), transparent);
  border-radius: 20px;
}
.job-details__img {
  border-radius: 20px;
  height: 300px;
  object-fit: cover;
  object-position: 50% 70%;
}
.job-details__content {
  margin-top: -57px;
  margin-inline: auto;
  max-width: 660px;
}
.job-details__info {
  display: flex;
  gap: 12px;
}
.job-details__col {
}
.job-details__badge-letter {
  position: relative;
  font-size: 18px;
  font-weight: 700;
  background-color: hsl(0, 0%, 98%);
  border-radius: 6px;
  padding-inline: 17px;
  padding-block: 5px;
  line-height: 3.5;
}
.job-details__age {
  position: relative;
  display: inline-block;
  font-size: 14px;
  color: hsl(0, 0%, 45%);
}
.job-details__bookmark {
  position: relative;
  display: inline-block;
}

.job-details__title {
  position: relative;
  color: hsl(0, 0%, 98%);
}
.job-details__company {
  position: relative;
  font-weight: 300;
  color: hsl(0, 0%, 98%);
}
.job-details__description {
  margin-top: 20px;
}
.job-details__conditions {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  font-size: 14px;
  margin-top: 20px;
}
.job-details__icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: hsl(0, 0%, 85%);
  margin-right: 10px;
  padding: 7px;
  color: hsl(0, 0%, 20%);
}

.job-details__qualifications {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  font-size: 14px;
  margin-top: 50px;
}

.job-details__tags {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.job-details__tag {
  padding: 7px 10px;
  background-color: hsl(0, 0%, 88%);
}
.job-details__reviews {
  display: flex;
  gap: 50px;
  margin-top: 30px;
  font-size: 14px;
}

.job-details__quotes {
  display: flex;
  flex-wrap: wrap;
  font-style: italic;
  gap: 21px 67px;
}
.job-details__quotes > * {
  flex-basis: 170px;
}
.job-details__quote {
  position: relative;
  z-index: 0;
}
.job-details__quote::before {
  content: '"';
  position: absolute;
  top: 0px;
  left: -20px;
  z-index: -1;
  font-size: 70px;
  line-height: 37px;
  color: hsl(0 0% 70% / 0.7);
  /* position: absolute;
  top: 0;
  left: 0;
  font-size: 60px;
  line-height: 0.6; */
}

.spinner {
  width: 100px;
  height: 100px;
  border: 12px solid hsl(0, 0%, 88%);
  border-top: 12px solid #fff;
  border-radius: 50%;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
